<nav>
  <ul>
    <li><a routerLink="/auth/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>





<div>
  <!-- this header tag displays only when user is logged-in -->
  <h3 *ngIf="authService.user | async">
    Welcome User: {{ (authService.user | async)?.email }}!
  </h3>

<!-- this div displays only when user is not-logged-in -->
<div *ngIf="!(authService.user | async)">
      <!-- these input fields takes email and password from user -->
      <input type="text" [(ngModel)]="email" placeholder="Enter email"/>
      <input type="password" [(ngModel)]="password" placeholder="Enter password"/>

      <!-- user click this button to signup -->
      <button (click)="signup()" [disabled]="!email || !password">
        Signup
      </button>

      <!-- user click this button to login -->
      <button (click)="login()" [disabled]="!email || !password">
        Login
      </button>
</div>

<div *ngIf="authService.user | async">
  <!-- user click this button to logout -->
  <!-- this button displays only when user is logged-in -->
  <button (click)="logout()" >
    Logout
  </button>
  
  <div class="container">
    <div class="row">
        <app-great-experiences class="col s6"></app-great-experiences>
        <app-great-experience-list class="col s6"></app-great-experience-list>
    </div>
  </div>
</div>
</div>


