<nav>
    <ul>
        <li>
            <a routerLink="/user-portal/experiences">Experiences</a>
        </li>
        <li>
         <ul>
            <a (click)="LogoutUser()">
                <div class="circle">
                    <span class="initials" >{{ authService.user.initials }}</span>
                </div>
                <!-- <img src="" height="64px" width="64px"/> -->
            </a>
            <li>test</li>

         </ul>   
         

        </li>
    </ul>
</nav>
<p>user-portal works!</p>
{{ authService.user.initials }}
{{authService.user ? authService.user.displayName ? authService.user.displayName : authService.user.email : 'NO USER LOGGED IN'}}

<div class="row">
    <app-great-experiences class="col s6"></app-great-experiences>
    <app-great-experience-list class="col s6"></app-great-experience-list>
</div>
